<!DOCTYPE />
<html lang="en">
    <head>
        <title>XSRF Test page</title>
        <meta type="text/text" name="description" content="Blacksheep" />
        <meta type="text/text" name="keywords" content="test" />
    </head>
    <body>{% af_input %}</body>
</html>
